@import url(https://fonts.googleapis.com/css?family=Ubuntu:700,500,400,300,100);
body {
	font-family: 'Ubuntu', serif;
	margin: 0;
	padding: 0;
	background-color: #EEEEEE;
}

.main {
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	
  background-color: #FFF;
  border-radius: 10px;
  padding: 20px;
  margin: 50px auto ;
  width: 350px;
  box-shadow: 2px 2px 0px rgba(244, 99, 83, 0.2 );
}

.signin {
    height: 310px;
} 

.register {
    height: 590px;
}

.form {
	width: 100%;
}

.form-item {
  margin-top: 10px;
}

.input1 {
	border-radius: 5px;
  border: 2px solid rgba(72, 72, 72, 0.2);
  width: 100%;
  padding: 10px;
}

.droplist1 {
    width: 100%;
}

.captcha {
	margin-left: 10px;
	float: right;
    border: 2px solid #000000;
}

input:focus {
    border: 2px solid rgb(244, 99, 83);
}

.button1 {
  width: 100%;
  background: #F46353;
  border-radius: 8px;
  color: #fff;
  font-size: 22px;
  padding: 10px;
  text-decoration: none;
  border: none;
  box-shadow: 1px 1px 3px #f2f2f2;
  cursor: pointer;
  margin-top: 25px;
}

.button1:hover {
  background: #EF321F;
}

.message1 {
  font-size: 13px;
  padding-top: 10px;
	text-align: right;
}

.message2 {
	color: #FF3333;
	text-align: right;
}

a:link {
    color: #0000FF;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #0000FF;
}

/* mouse over link */
a:hover {
    color: #5599FF;
}

/* selected link */
a:active {
    color: #0000FF;
}

input::-webkit-input-placeholder{
 text-transform: uppercase;
 color: #333;
}

input:-moz-placeholder{
  text-transform: uppercase;
  color: #333;
}
input:-ms-input-placeholder{text-transform: uppercase;}